# All available Hugo versions are listed here: https://gitlab.com/pages/hugo/container_registry
#image: registry.gitlab.com/pages/hugo:latest
image: monachus/hugo:latest

variables:
  GIT_SUBMODULE_STRATEGY: recursive

test:
  script:
  - hugo --minify
  except:
  - master

pages:
  script:
  - hugo --minify && gzip -k -6 $(find public -type f)  
  artifacts:
    paths:
    - public
  only:
  - master
