{{ partial "header" . }}

<main>

    <div class="intro">

        <p><img src="img/shirazlug_logo.svg" height="130px" alt=""></p>

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>



    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- <a class="nextSessionLink" href="/session/next_session">جلسه آینده شیرازلاگ</a><br> -->
            <a class="nextSessionLink" href="/session/next_session">سال نو مبارک</a><br>
            <img src="img/next_session.jpg" width="400px">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5><a href="https://www.openstreetmap.org/#map=18/29.62549/52.49328"> {{ markdownify .Site.Params.Address }}</a></h5>
            <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=52.49028861522675%2C29.62414499342047%2C52.49627530574799%2C29.626826307660863&amp;layer=mapnik&amp;marker=29.62548799103774%2C52.493281960487366"></iframe>
        </div>       
    </div>
</main>

{{ partial "footer" . }}