{{ partial "header" . }}

<main>

    <div class="intro">

        <p><img src="img/shirazlug_logo.svg" height="130px" alt=""></p>

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>



    </div>


    <div>
        <a class="nextSessionLink" href="/session/next_session">جلسه آینده شیرازلاگ</a>
        <p><img src="img/next_session.jpg"></p>
    </div>

    <div class="address">
        </br>
        <h2>{{ markdownify .Site.Params.Address }}</h2>
        <iframe width="800" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=52.49115496873856%2C29.6245646820988%2C52.49563425779343%2C29.62663512066026&amp;layer=mapnik&amp;marker=29.62559990669784%2C52.49339461326599"></iframe>
        <br/><small>
    <a href="http://www.openstreetmap.org/?mlat=29.62560&amp;mlon=52.49339#map=19/29.62560/52.49339">نمایش نقشه در سایت OpenStreatMap.org</a>
    </small>
    </div>

</main>

{{ partial "footer" . }}
