{{ "<!-- ASIDE -->" | safeHTML }}
<aside id="next_session" class="bg-dark" style="background-color:#13202d">
    <div class="container text-center">
        <div class="call-to-action">
          <h2>جلسه آینده</h2>
          <p>
            جلسه ۸۱ ام |پنجشنبه ۱۳ ام آبان | موضوع: فعلا آزاد | ساعت ۱۵ تا ۱۷ | محل برگزاری: خیابان فلسطین ،کوچه 5، «آموزشگاه هوش مصنوعی» <br>شرکت در جلسه‌ها برای عموم آزاد و رایگان است.</p>
          {{ with .Site.Params.next_session.buttonText }}
              <a href="#location" class="btn btn-default btn-xl page-scroll">{{ . }}</a>
          {{ end }}
        </div>
    </div>
</aside>
